In [1]:
import numpy as np
import pandas as pd
import os
import shutil
import random
import glob
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
%matplotlib inline

In [2]:
import os
initial_count=0
total_count = 0
dir = "E:/Soybean/Soybean Original Dataset/Caterpillar"
for path in os.listdir(dir):
    if os.path.isfile(os.path.join(dir, path)):
        initial_count += 1
print(initial_count)
total_count+=initial_count
valid_caterpillar=int ((initial_count*20)/100)
print(valid_caterpillar)

initial_count = 0
dir = "E:/Soybean/Soybean Original Dataset/Diabrotica speciosa"
for path in os.listdir(dir):
    if os.path.isfile(os.path.join(dir, path)):
        initial_count += 1
print(initial_count)
total_count+=initial_count
valid_Diabrotica_speciosa=int ((initial_count*20)/100)
print(valid_Diabrotica_speciosa)


initial_count = 0
dir = "E:/Soybean/Soybean Original Dataset/Healthy"
for path in os.listdir(dir):
    if os.path.isfile(os.path.join(dir, path)):
        initial_count += 1
print(initial_count)
total_count+=initial_count
valid_Healthy=int ((initial_count*20)/100)
print(valid_Healthy)

print(total_count)

3309
661
2205
441
896
179
6410

In [3]:
# Organize data into train, valid dirs
os.chdir('E:/Soybean/Soybean Original Dataset')
if os.path.isdir('train') is False: 
    os.mkdir('train')
    os.mkdir('valid')
    list_folder=["Caterpillar","Diabrotica speciosa","Healthy"]
    for i in list_folder:
        shutil.move(f'{i}', 'train')
        os.mkdir(f'valid/{i}')

        if(i=="Healthy"):
          valid_samples = random.sample(os.listdir(f'train/{i}'),valid_Healthy)
          for j in valid_samples:
            shutil.move(f'train/{i}/{j}', f'valid/{i}')
        elif(i=="Caterpillar"):
          valid_samples = random.sample(os.listdir(f'train/{i}'), valid_caterpillar)
          for j in valid_samples:
            shutil.move(f'train/{i}/{j}', f'valid/{i}')
        else:
          valid_samples = random.sample(os.listdir(f'train/{i}'), valid_Diabrotica_speciosa)
          for j in valid_samples:
            shutil.move(f'train/{i}/{j}', f'valid/{i}')

os.chdir('../..')

In [4]:
# Get the list of all files and directories
path = "E:/Soybean/Soybean Original Dataset/train/Caterpillar"
dir_list = os.listdir(path)
df = pd.DataFrame()
value= {
    'file name':dir_list,
    'healthy' :0,
    'Diabrotica speciosa' :0,
    'caterpillar':1
          }
df = pd.DataFrame(value)
df

                   file name  healthy  Diabrotica speciosa  caterpillar
0        caterpillar (1).jpg        0                    0            1
1       caterpillar (10).jpg        0                    0            1
2      caterpillar (100).jpg        0                    0            1
3     caterpillar (1000).jpg        0                    0            1
4     caterpillar (1001).jpg        0                    0            1
...                      ...      ...                  ...          ...
2643   caterpillar (995).jpg        0                    0            1
2644   caterpillar (996).jpg        0                    0            1
2645   caterpillar (997).jpg        0                    0            1
2646   caterpillar (998).jpg        0                    0            1
2647   caterpillar (999).jpg        0                    0            1

[2648 rows x 4 columns]

In [5]:
path = "E:/Soybean/Soybean Original Dataset/train/Diabrotica speciosa"
dir_list = os.listdir(path)
 
df2 = pd.DataFrame()
value= {
    'file name':dir_list,
    'healthy' :0,
    'Diabrotica speciosa' :1,
    'caterpillar':0
          }

df2 = pd.DataFrame(value)
df2

                          file name  healthy  Diabrotica speciosa  caterpillar
0        diabroticaspeciosa (1).jpg        0                    1            0
1       diabroticaspeciosa (10).jpg        0                    1            0
2     diabroticaspeciosa (1001).jpg        0                    1            0
3     diabroticaspeciosa (1003).jpg        0                    1            0
4     diabroticaspeciosa (1004).jpg        0                    1            0
...                             ...      ...                  ...          ...
1759   diabroticaspeciosa (994).jpg        0                    1            0
1760   diabroticaspeciosa (996).jpg        0                    1            0
1761   diabroticaspeciosa (997).jpg        0                    1            0
1762   diabroticaspeciosa (998).jpg        0                    1            0
1763   diabroticaspeciosa (999).jpg        0                    1            0

[1764 rows x 4 columns]

In [6]:
path = "E:/Soybean/Soybean Original Dataset/train/Healthy"
dir_list = os.listdir(path)
 
df3 = pd.DataFrame()
value= {
    'file name':dir_list,
    'healthy' :1,
    'Diabrotica speciosa' :0,
    'caterpillar':0
          }

df3 = pd.DataFrame(value)
df3

             file name  healthy  Diabrotica speciosa  caterpillar
0      healthy (1).jpg        1                    0            0
1     healthy (10).jpg        1                    0            0
2    healthy (100).jpg        1                    0            0
3    healthy (101).jpg        1                    0            0
4    healthy (102).jpg        1                    0            0
..                 ...      ...                  ...          ...
712   healthy (95).jpg        1                    0            0
713   healthy (96).jpg        1                    0            0
714   healthy (97).jpg        1                    0            0
715   healthy (98).jpg        1                    0            0
716   healthy (99).jpg        1                    0            0

[717 rows x 4 columns]

In [7]:
frames = [df, df2,df3]
  
train_frames = pd.concat(frames)
display(train_frames)

train_frames.to_csv('train.csv', index=False)

                  file name  healthy  Diabrotica speciosa  caterpillar
0       caterpillar (1).jpg        0                    0            1
1      caterpillar (10).jpg        0                    0            1
2     caterpillar (100).jpg        0                    0            1
3    caterpillar (1000).jpg        0                    0            1
4    caterpillar (1001).jpg        0                    0            1
..                      ...      ...                  ...          ...
712        healthy (95).jpg        1                    0            0
713        healthy (96).jpg        1                    0            0
714        healthy (97).jpg        1                    0            0
715        healthy (98).jpg        1                    0            0
716        healthy (99).jpg        1                    0            0

[5129 rows x 4 columns]

Valid Set

In [8]:
path = "E:/Soybean/Soybean Original Dataset/valid/Caterpillar"
dir_list = os.listdir(path)
 
df4 = pd.DataFrame()
value= {
    'file name':dir_list,
    'healthy' :0,
    'Diabrotica speciosa' :0,
    'caterpillar':1
          }

df4 = pd.DataFrame(value)
df4

                  file name  healthy  Diabrotica speciosa  caterpillar
0    caterpillar (1005).jpg        0                    0            1
1    caterpillar (1015).jpg        0                    0            1
2    caterpillar (1016).jpg        0                    0            1
3    caterpillar (1020).jpg        0                    0            1
4    caterpillar (1022).jpg        0                    0            1
..                      ...      ...                  ...          ...
656   caterpillar (972).jpg        0                    0            1
657   caterpillar (976).jpg        0                    0            1
658   caterpillar (982).jpg        0                    0            1
659   caterpillar (986).jpg        0                    0            1
660   caterpillar (993).jpg        0                    0            1

[661 rows x 4 columns]

In [9]:
path = "E:/Soybean/Soybean Original Dataset/valid/Diabrotica speciosa"
dir_list = os.listdir(path)
 
df5 = pd.DataFrame()
value= {
    'file name':dir_list,
    'healthy' :0,
    'Diabrotica speciosa' :1,
    'caterpillar':0
          }

df5 = pd.DataFrame(value)
df5

                         file name  healthy  Diabrotica speciosa  caterpillar
0     diabroticaspeciosa (100).jpg        0                    1            0
1    diabroticaspeciosa (1000).jpg        0                    1            0
2    diabroticaspeciosa (1002).jpg        0                    1            0
3    diabroticaspeciosa (1006).jpg        0                    1            0
4    diabroticaspeciosa (1008).jpg        0                    1            0
..                             ...      ...                  ...          ...
436   diabroticaspeciosa (980).jpg        0                    1            0
437   diabroticaspeciosa (983).jpg        0                    1            0
438   diabroticaspeciosa (990).jpg        0                    1            0
439   diabroticaspeciosa (991).jpg        0                    1            0
440   diabroticaspeciosa (995).jpg        0                    1            0

[441 rows x 4 columns]

In [10]:
path = "E:/Soybean/Soybean Original Dataset/valid/Healthy"
dir_list = os.listdir(path)
 
df6 = pd.DataFrame()
value= {
    'file name':dir_list,
    'healthy' :1,
    'Diabrotica speciosa' :0,
    'caterpillar':0
          }

df6 = pd.DataFrame(value)
df6

             file name  healthy  Diabrotica speciosa  caterpillar
0    healthy (112).jpg        1                    0            0
1    healthy (114).jpg        1                    0            0
2    healthy (115).jpg        1                    0            0
3    healthy (124).jpg        1                    0            0
4    healthy (126).jpg        1                    0            0
..                 ...      ...                  ...          ...
174  healthy (870).jpg        1                    0            0
175  healthy (871).jpg        1                    0            0
176  healthy (889).jpg        1                    0            0
177  healthy (893).jpg        1                    0            0
178   healthy (90).jpg        1                    0            0

[179 rows x 4 columns]

In [11]:
frames = [df4, df5,df6]
  
valid_frames = pd.concat(frames)
display(valid_frames)

train_frames.to_csv('valid.csv', index=False)

                  file name  healthy  Diabrotica speciosa  caterpillar
0    caterpillar (1005).jpg        0                    0            1
1    caterpillar (1015).jpg        0                    0            1
2    caterpillar (1016).jpg        0                    0            1
3    caterpillar (1020).jpg        0                    0            1
4    caterpillar (1022).jpg        0                    0            1
..                      ...      ...                  ...          ...
174       healthy (870).jpg        1                    0            0
175       healthy (871).jpg        1                    0            0
176       healthy (889).jpg        1                    0            0
177       healthy (893).jpg        1                    0            0
178        healthy (90).jpg        1                    0            0

[1281 rows x 4 columns]

In [15]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\admin\appdata\local\programs\python\python39\lib\site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in c:\users\admin\appdata\local\programs\python\python39\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [16]:
read_file = pd.read_csv ('train.csv')
excelWriter=pd.ExcelWriter('train.xlsx')
read_file.to_excel(excelWriter)
excelWriter.save()

read_file = pd.read_csv ('valid.csv')
excelWriter=pd.ExcelWriter('valid.xlsx')
read_file.to_excel(excelWriter)
excelWriter.save()

In [13]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     -------------------------------------- 242.1/242.1 kB 1.3 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10